<%= provide(:title, "Committees") %>
<!--committees-->
      <section id="committees" class="home-section">

    <div class="container marginbot-60">
           <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
          
                     <div class="section-heading text-center">
          <h2 class="h-bold">Committees</h2>
          <div class="divider-header"></div>
          
          </div>
        </div>
      </div>
</div>
<!--committee accordion-->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <!--panel 1-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
               <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapse">
                DISEC
                </a>
               </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
               <div class="panel-body">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia lacinia mauris, at ultricies leo ornare nec. Vivamus eu est vel felis dignissim tempor. Nulla facilisi. Duis molestie tortor ac tempor volutpat. Phasellus nec mi aliquet, sollicitudin neque eget, consectetur libero. Vestibulum sollicitudin sapien libero, egestas tempus eros scelerisque eu.
               </div>
              </div> 
             </div> 

             <!--panel 2-->
             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
               <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapse">
                SOCHUM
                </a>
               </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
               <div class="panel-body">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia lacinia mauris, at ultricies leo ornare nec. Vivamus eu est vel felis dignissim tempor. Nulla facilisi. Duis molestie tortor ac tempor volutpat. Phasellus nec mi aliquet, sollicitudin neque eget, consectetur libero. Vestibulum sollicitudin sapien libero, egestas tempus eros scelerisque eu.
               </div>
              </div> 
             </div> 

             <!--panel 3-->
             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
               <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapse">
                Crisis
                </a>
               </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
               <div class="panel-body">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia lacinia mauris, at ultricies leo ornare nec. Vivamus eu est vel felis dignissim tempor. Nulla facilisi. Duis molestie tortor ac tempor volutpat. Phasellus nec mi aliquet, sollicitudin neque eget, consectetur libero. Vestibulum sollicitudin sapien libero, egestas tempus eros scelerisque eu.
               </div>
              </div> 
             </div> 

             <!--panel 4-->
             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
               <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapse">
                Security Council
                </a>
               </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
               <div class="panel-body">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia lacinia mauris, at ultricies leo ornare nec. Vivamus eu est vel felis dignissim tempor. Nulla facilisi. Duis molestie tortor ac tempor volutpat. Phasellus nec mi aliquet, sollicitudin neque eget, consectetur libero. Vestibulum sollicitudin sapien libero, egestas tempus eros scelerisque eu.
               </div>
              </div> 
             </div> 

             <!--panel 5-->
             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
               <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapse">
                NATO-CIS
                </a>
               </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
               <div class="panel-body">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia lacinia mauris, at ultricies leo ornare nec. Vivamus eu est vel felis dignissim tempor. Nulla facilisi. Duis molestie tortor ac tempor volutpat. Phasellus nec mi aliquet, sollicitudin neque eget, consectetur libero. Vestibulum sollicitudin sapien libero, egestas tempus eros scelerisque eu.
               </div>
              </div> 
             </div> 
   </div>
  </div>
 </div>




      </section>
      <!--end committees-->

