<%= provide(:title, "Home") %>

<!-- Section: about -->
    <section id="about" class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          
          <div class="section-heading text-center marginbot-30">
          <h2 class="h-bold">About Us</h2>
          <div class="divider-header"></div>
            </div><!--end about us heading-->
          </div>
        </div>
      </div>

    

    <div class="container marginbot-50">

    
        <div class="row">
    
    
            <div class="col-lg-8 col-lg-offset-2">   
        <div class="text-center">
          <p>
          Lorem ipsum dolor sit amet, vis tale malis tacimates et, graece doctus omnesque ne est, deserunt pertinacia ne nam. Pro eu simul affert referrentur, natum mutat erroribus te his
          </p>
          <p>
          Ne mundi fabulas corrumpit vim, nulla vivendum conceptam eu nam. Ius ex principes complectitur, ex quo duis suscipit. Ius fastidii reprimique no. Sadipscing appellantur pri ad. Oratio moderatius definitiones cum ex, mea ne brute vivendum percipitur. 
          </p>
          <a href="#resources" class="btn btn-skin btn-scroll">Resources</a>
        </div>
            </div>
</div>
</div><!--end container-->
</section>



<!--sec gen address-->
<section id="secgenaddress" class="home-section" style="margin-top:-35px;">

    <div class="container marginbot-60" style="margin-top:-60px;">
           <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
          
                     <div class="section-heading text-center">
          <h2 class="h-bold">Secretary General's Address</h2>
          <div class="divider-header"></div>
          
          </div>
        </div>
      </div>


      <!--sec gen details-->
   <div class="container margintop-50">
 <div class="row">
  <div class="col-sm-4">
   <div class="box">
       <%= image_tag("secgen.jpg", :alt => "Sivan SecGen", :class => "img-responsive img-circle") %>
        <div class="boxContent">
         <h3 class="title">Sivan Chakravarty</h3>
            <span class="post">Secretary General</span>
              <ul class="links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              </ul>
         </div>          
        </div>
      </div>                                                                                           
   
                                            
           


                        <div class="col-sm-6 col-sm-offset-1">   
                                <div class="text-justify">
          <p>
          Lorem ipsum dolor sit amet, vis tale malis tacimates et, graece doctus omnesque ne est, deserunt pertinacia ne nam. Pro eu simul affert referrentur, natum mutat erroribus te his
          </p>
          <p>
          Ne mundi fabulas corrumpit vim, nulla vivendum conceptam eu nam. Ius ex principes complectitur, ex quo duis suscipit. Ius fastidii reprimique no. Sadipscing appellantur pri ad. Oratio moderatius definitiones cum ex, mea ne brute vivendum percipitur.  Ne mundi fabulas corrumpit vim, nulla vivendum conceptam eu nam. Ius ex principes complectitur, ex quo duis suscipit. Ius fastidii reprimique no. Sadipscing appellantur pri ad. Oratio moderatius definitiones cum ex, mea ne brute vivendum percipitur.  Ne mundi fabulas corrumpit vim, nulla vivendum conceptam eu nam. Ius ex principes complectitur, ex quo duis suscipit. Ius fastidii reprimique no. Sadipscing appellantur pri ad. Oratio moderatius definitiones cum ex, mea ne brute vivendum percipitur. 
          </p>
          <p>  Ne mundi fabulas corrumpit vim, nulla vivendum conceptam eu nam. Ius ex principes complectitur, ex quo duis suscipit. Ius fastidii reprimique no. Sadipscing appellantur pri ad. Oratio moderatius definitiones cum ex, mea ne brute vivendum percipitur. </p>

          </div>

          </div>

          </div>

          </div><!--end row-->

          </section>
<!--end sec gen--> 

<!--begin resources-->
<section id="resources" class="home-section color-dark bg-gray margintop-50">
  <div class="container marginbot-50" style="margin-top:-50px;">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          
          <div class="section-heading text-center">
          <h2 class="h-bold">Resources</h2>
          <div class="divider-header"></div>
            </div><!--end resource heading-->
          </div>
        </div>
      </div>
    

      <!--servicebox-->
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="serviceBox">
    <h3 class="title">Registration</h3>
    <div class="service-icon">
      <i class="fa fa-rocket"></i>
    </div>
    <p class="description"> Lorem ipsum dolor sit amet, vis tale malis tacimates et, graece doctus omnesque ne est, deserunt pertinacia ne nam. Pro eu simul affert referrentur, natum mutat erroribus te his</p>
         <%= link_to "Register now!", registration_path, class: "read" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="serviceBox">
    <h3 class="title">Study Guides</h3>
    <div class="service-icon">
      <i class="fa fa-book"></i>
    </div>
    <p class="description"> Lorem ipsum dolor sit amet, vis tale malis tacimates et, graece doctus omnesque ne est, deserunt pertinacia ne nam. Pro eu simul affert referrentur, natum mutat erroribus te his</p>
        <%= link_to "Link", studyguide_path, class: "read" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="serviceBox">
    <h3 class="title">Schedule</h3>
    <div class="service-icon">
      <i class="fa fa-globe"></i>
    </div>
    <p class="description"> Lorem ipsum dolor sit amet, vis tale malis tacimates et, graece doctus omnesque ne est, deserunt pertinacia ne nam. Pro eu simul affert referrentur, natum mutat erroribus te his</p>
         <%= link_to "Details", schedule_path, class: "read" %>
      </div>
   </div>
    
  </div>
 </div>   

</section>
<!--end resource section-->