<div class="contact-details">
<div class= "container">
  <div class="row">
    
    
    
    <div class="col-xs-6"><!--map location-->
    <div class="google-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0962601324654!2d77.60648701482191!3d12.965691890859805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b64970e8e73174d!2sThe+Cathedral+High+School!5e0!3m2!1sen!2sin!4v1495699146258"  frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>


    <div class="col-xs-6"><!--contact details-->
      <h4>The Cathedral High School</h4>
        <p>63, Richmond Rd, Shanthala Nagar, Muniswamy Garden, Neelasandra, Bengaluru, Karnataka 560025</p>
        <p> Contact number : 080 2557 2656</p>
    </div>
    
      </div>
</div>
</div>



<div align="center">
  <div class="section-heading text-center">
  <h3 class="h-bold">Thank you for your message!</h3>
  <div class="divider-header"></div>
  <p>We will get back to you soon.</p>
          </div>
          
         
