#navigation {
	border-top: 5px solid #3dc9b3;
}

.top-nav-collapse {
	background: #3dc9b3;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #3dc9b3;
}

.navbar-custom .navbar-toggle .icon-bar{
	background-color:black;
}

/* btn-skin resource */
.btn-skin {
  color: #fff;
  background-color: #3dc9b3;
  border-color: #3dc9b3;
}



footer{
	background-color: #404040;
	padding-top:15px;
	color:#fff;
	font-weight:100;
	 }
	 
#about{
	background:#f3f3f3;
}

#resources{
	background:#f3f3f3;
}