// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contact-title{
  margin-top:150px;
  
  font-size:40px;
}

.divider-contact{
  margin-bottom:150px;
}

.submit-button{
 background:#3dc9b3; 
 color:white;
}


/* map css */
.google-maps{
  position:relative;
  padding-bottom:75%;
  height:0;
  overflow:hidden;
  
}

.google-maps iframe {
  position:absolute;
  height:100% !important;
  width:100% !important;
  top:0;
  left:0;
}

.contact-details{
  margin-top:50px;
  font-size:20px;
}

.contact-details h4{
  font-size:34px;
  text-decoration:underline;
}