

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');
*{
	padding:0;
	margin:0;
	

}



body {
    width: 100%;
    height: 100%;
    font-family: 'Ek Mukta', sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
	font-size: 16px;
    line-height: 1.6em;
	font-weight: 400;
	overflow-x: hidden;

}

html {
    width: 100%;
    height: 100%;
}


h1 {
	font-size: 38px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 20px;
}

/* --- logo --- */
.site-logo {
	margin-top: 10px;
}
.site-logo a.brand {
	color: #111;
	text-transform: uppercase;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin-top: 20px;
}

/*navbar styling*/
#navigation {
	background: #fff;
	z-index: 9999;
	width:100%;
    box-sizing:border-box;
	border-bottom: 1px solid #eee;
	box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);
}


.navbar {
    margin-bottom: 0;
    
}

.navbar-brand {
    font-weight: 700;
    font-size:150%;
}


.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.6);
}



  
  .navbar-custom ul.nav li a {
  	font-size: 15px;
  	letter-spacing: 1px;
      color: #444;
  	text-transform: uppercase;
  	font-weight: 700;
  }

.navbar-custom ul.nav li:hover a{
   color:#3DC9B3;
}



.navbar-custom ul.nav ul.dropdown-menu {
	border-radius: 0;	
	margin-top: 21px;
	border-top: none;
}



.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}



.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.navbar .in a {
    color: #666 !important;
}

.navbar .in a:hover {
    color: #3DC9B3 !important;
}
  

/*navbar styling-end*/



/* hero section */
.hero { 
 background: url(asset-path('speechhero.jpg')) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover; 
  background-size: cover; 
  padding: 200px 0 200px 0;
  height: auto;
    }
    
.hero h1 { font-size: 40px; letter-spacing: 12px; margin: 40px 0 10px; font-weight: 900; color: #fff;}
.hero h1 span { color: #a1a9b0; display: inline-block; }
.hero p { font-size: 24px; font-weight: 400; color: #fefefe; }
.learn-more-btn { background: rgba(61, 201, 179, 1);
 padding: 20px 40px; border-radius: 5px;
 -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; color: #fff;
  text-transform: uppercase; letter-spacing: 1px; display: inline-block;
   -webkit-box-shadow: 0px 3px 0px 0px #309383; -moz-box-shadow: 0px 3px 0px 0px #309383; box-shadow: 0px 3px 0px 0px #309383; margin: 60px 0 0; font-weight: bold; }
.learn-more-btn:hover, .learn-more-btn:focus { background: rgba(61, 201, 179, 0.9); color: #fff; }




.intro {
	width:100%;
	position:relative;
	padding:0;
}
.intro-inner {
	width:100%;
	position:relative;
	padding:120px 0 20px;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

/* hero end */


/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}
.marginbot-60{margin-bottom:60px !important;}
.marginbot-70{margin-bottom:70px !important;}
.marginbot-80{margin-bottom:80px !important;}
.marginbot-90{margin-bottom:90px !important;}
.marginbot-100{margin-bottom:100px !important;}

.margintop-0{margin-top:0 !important;}
.margintop-10{margin-top:10px !important;}
.margintop-20{margin-top:20px !important;}
.margintop-30{margin-top:30px !important;}
.margintop-40{margin-top:40px !important;}
.margintop-45{margin-top:45px !important;}
.margintop-50{margin-top:50px !important;}
/*end margins*/


/*section*/
.home-section {
    padding-top: 150px;
    padding-bottom: 110px;
	display:block;
    position:relative;
    z-index:120;
}

.inner-section {
    padding-top: 110px;
    padding-bottom: 110px;
}


.home-section.nopadd-bot {
    padding-bottom: 0;
}


.section-heading h2 {
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.section-heading p {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.6em;
}

/* resource button */
.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


h1.h-bold,h2.h-bold,h3.h-bold ,h4.h-bold ,h5.h-bold ,h6.h-bold  {
	font-weight: 600;
}


.divider-header {
	display: block;
	width: 40px;
	height: 2px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.divider-header{
	background:#666;
}


/*sivan box details*/


.box{
    position: relative;
    overflow: hidden;
}
.box:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(61, 201, 179, 0.8);
    opacity: 0;
    transition: all 300ms ease-in-out 0s;
}
.box:hover:before{
    opacity: 1;
    border-radius:100%;
}

.box .boxContent{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 1;
}
.box .title{
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    top: 18%;
    transform: scale(5);
    opacity: 0;
    transition: all 0.3s ease-in-out 0.1s;
}
.box .post{
    display: block;
    font-size: 16px;
    font-style: italic;
    position: relative;
    top: 18%;
    transform: scale(5);
    opacity: 0;
    transition: all 0.3s ease-in-out 0.2s;
}
.box:hover .title,
.box:hover .post{
    opacity: 1;
    transform: scale(1);
}
.box .links{
    padding: 0;
    list-style: none;
    position: relative;
    top: 23%;
    transform: scale(5);
    opacity: 0;
    transition: all 0.3s ease-in-out 0.1s;
}
.box:hover .links{
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.3s;
}
.box .links li{
    display: inline-block;
    margin-right: 20px;
}
.box .links li:last-child{
    margin-right: 0;
}
.box .links li a{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
}

.box .links li:hover a{
	border:2px solid white;
}
/*end sivan box*/


/*resource-service box*/
.serviceBox{
	background: #fff;
    text-align: center;
    padding: 35px 15px;
    border-radius: 8px;
    transition: all 0.5s ease 0s;	
}

.serviceBox:hover{
	background:#3DC9B3;
}

.serviceBox .title{
	margin:0 0 20px 0;
	color:#343434;

}

.serviceBox:hover .title{
	color:#fff;
}

.serviceBox .service-icon{
	width:100px;
	height:100px; 
	border-radius:50%;
	border:1px solid #3DC9B3;
	margin:0 auto 20px;
	transition:all 0.5s ease 0s;
}

.serviceBox:hover .service-icon{
	transform: scale(1.20);
	background:#fff;
    }

.serviceBox .service-icon i{
	font-size:50px;
	color:#3DC9B3;
	line-height:100px;
}

.serviceBox .description{
    font-size: 16px;
    color: #64676b;
    line-height: 25px;
    margin-bottom: 20px;
    transition: all 0.5s ease 0s;
}
.serviceBox:hover .description{
    color: #fff;
}

.serviceBox .read{
    display: inline-block;
    font-size: 16px;
    color: #64676b;
    padding: 5px 10px;
    border-top: 1px solid #64676b;
    transition: all 0.5s ease 0s;
}

.serviceBox:hover .read{
    color: #fff;
    border-top-color: #fff;
}
@media only screen and (max-width: 990px){
    .serviceBox{ margin-bottom: 20px; }
}
/*end resource*/

/*footer*/
footer{
padding-top:15px;
font-weight:100;
min-height:150px;

margin-bottom:-500px;
}

.col-md-4:nth-child(3n+1){
    clear: left;
}