<!--footer-->
<footer>
<div class="container">
  <div class="row">
      <div class="col-md-6 pull-left">
      <p>&copy; The Cathedral High School</p>
      <p>Coded with <i class="fa fa-heart" aria-hidden="true"></i> by Rohan Mayya</p>
  </div>

    <div class="col-md-6 text-right">
    <i class="fa fa-facebook fa-2x"></i>
    </div>

  </div><!--end row-->
  </div><!--end container-->
</footer>