    <!-- hero section -->

<section class="hero" id="intro">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-right navicon">
                  <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                  
                        <h1>Cathedral High School Model UN 2017</h1>
                        <p>Power. Possibility. Peace.</p>
                    
               </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="#about" class="learn-more-btn btn-scroll">Learn more</a>
                </div>
              </div>
            </div>
    </section>
    
    <!-- end hero -->
    
    <!--navbar-->
    <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
  <div class="container-fluid">
    <div class="row">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
          <div class="col-md-2">
          <%=link_to "CHSMUN", root_path, :class => 'navbar-brand' %>
          </div>
    </div>
        <div class="col-md-10">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
            <li><%=link_to "Home", root_path %></li>
            <li><%=link_to "Committees", committees_path %></li>
            <li><%=link_to "Registration", registration_path %></li>
            <li><%=link_to "Schedule", schedule_path %></li>
            <li><%=link_to "StudyGuides", studyguide_path %></li>
            <li><%=link_to "Contact", contact_path %></li>
          </ul>
        </div>

      </div>
      </div>
    </nav>
    </div>
  <!--end navbar-->