<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | CHSMUN '17</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/shim' %>
    
  </head>


  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <%= render 'layouts/header' %>
    
  


  
    <div>
       <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
   
  </body>
</html>
